<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="kapsayici">
    <div class="ust kutu">
      <h1><a href="">Erdal Bakkal</a></h1>
      <ul>
        <li>
          <a href="">
            Ana Sayfa
          </a>
        </li>
        <li>
          <a href="">
            Hakkımızda
          </a>
        </li>
        <li>
          <a href="">
            İletişim
          </a>
        </li>
      </ul>

      <div class="clear"></div>
    </div>

    <div class="orta">
      <div class="sol kutu">
        <ul>
          <li>
            <a href="">
              Yardımcı Bilgiler
            </a>
          </li>
          <li>
            <a href="">
              Sık Sorulan Sorular
            </a>
          </li>
          <li>
            <a href="">
              Beylece Seyler
            </a>
          </li>
        </ul>
      </div>

      <div class="icerik kutu">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>

      <div class="clear"></div>
    </div>
  </div>

</body>
</html>
